<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.namanquah.facultydevseminar"
    versionCode = "10"
    version     = "0.8.0" >

<!-- versionCode is optional and Android only -->

  <name>2017 Faculty Seminar</name>

  <description>
      Program for 2017 Faculty Seminar
  </description>

  <author href="https://rightclicksystems.org" email="nathan@rightclicksystems.org">
      N Amanquah
  </author>

</widget>